*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}
body main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10;
  padding: 10;
  background-color: white;
  color: black;
}
header {
  text-align: center;
  background-color: black;
  color: grey;
}
header a {
  color: white;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header ul li {
  display: inline-block;
  text-decoration: none;
}
h1 {
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  width: auto;
}

.navbar .navbar-nav .nav-link {
  background-color: white;
  color: black;
  font-weight: bold;
  border: black solid 1.5px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: black;
  color: white;
  border: black double 2px;
  border-radius: 10px;
}

.navbar-brand {
  font-weight: bold;
  color: black;
  text-align: center;
  width: auto;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-nav .nav-item {
  width: auto;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item .nav-link {
  flex-grow: 1;
  display: block;
  text-align: center;
  padding: 15px;
}

.navbar-nav .active {w
  font-weight: bold;
  background-color: lightgray;
}
ul {
  list-style-type: none;
  text-decoration: none;
}
ul li a {
  color: black;
}
footer {
  padding: 1rem;
  border: 1rem;
  background-color: black;
  color: white;
}
footer a {
  color: white;
  text-align: right;
  text-decoration: none;
}
.footerlinks {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.footerlinks a {
  margin: 5px;
  padding: 5px;
}
.footerlinks a:hover {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 5px;
  border: double white;
  border-radius: 5px;
}
footer form button {
  padding: 2px;
  margin: 2px;
  text-decoration: none;
  color: white;
  background-color: grey;
}
footer form button a {
  color: white;
  text-decoration: none;
}
.maininicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.maininicio h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-decoration: underline;
}
.maininicio h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.fotosinicio {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  gap: 60px;
}
.fotosinicio img {
  width: 300px;
  border: 2px black solid;
}
.fotosinicio a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: black solid 1px;
}
.linksinicio {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  gap: 20px;
}
.linksinicio a {
  padding: 5px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: black solid 1px;
}
.linksinicio a:hover {
  background-color: black;
  color: gray;
  border: black double 2px;
  border-radius: 10px;
}
.maincontacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contacto {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.tablacontacto {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  border: solid black 2px;
  border-radius: 20px;
}
.formcontacto {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  border-radius: 20px;
}
.formcontacto input {
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: grey;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr) 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: column;
}

.headercustom {
  grid-area: 1 / 1 / 2 / 5;
}

.footercustom {
  grid-area: 6 / 1 / 7 / 5;
}

.maincustom {
  grid-area: 3 / 3 / 6 / 5;
}

.sectioncustom {
  grid-area: 2 / 3 / 3 / 5;
}

.asidecustom {
  grid-area: 2 / 1 / 6 / 3;
}

.fotostienda {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  gap: 60px;
}
.fotostienda a:hover {
  background-color: black;
  border: black double 2px;
  border-radius: 30px;
}
.fotostienda a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.fotostienda img {
  width: 300px;
  border: 2px black solid;
}
.fotostienda img:hover {
  border-radius: 30px;
  border: black double;
}
.linkstienda {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  gap: 20px;
}
.linkstienda a {
  padding: 5px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: black solid 1px;
}
.linkstienda a:hover {
  background-color: black;
  color: gray;
  border: black double 2px;
  border-radius: 10px;
}
.mainteamriders {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: grey;
}
.fotosteamriders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.fotosteamriders img {
  width: 400px;
  border: black solid 0.5rem;
  border-radius: 40px;
  box-shadow: black;
}
.fotosteamriders h2 {
  text-decoration: underline;
}
.mainshapes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  font-size: small;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.mainshapes img {
  width: 150px;
  height: 300px;
}
.mainshapes h2 {
  text-decoration: underline;
}
.fotoshapes {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.fotoshapes a {
  display: block;
  margin-top: 5px;
  text-align: center;
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.fotoshapes a:hover {
  background-color: black;
  color: gray;
  border: double 3px black;
  border-radius: 15px;
  text-decoration: none;
}
.fotoshapes img {
  border: solid black 2px;
  border-radius: 15px;
  width: 100px;
}
.tosparagraph {
  background-color: rgb(242, 234, 234);
  border: black solid 3px;
  margin: 10px;
  padding: 10px;
}
.pparagraph {
  background-color: rgb(242, 234, 234);
  border: black solid 3px;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 80vw;
}
.auparagraph{
  background-color: rgb(242, 234, 234);
  border: black solid 3px;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 80vw;

}
.fotoaboutus img{
  height: auto;
  width: 70vw;
  align-content: center;
  border: black solid 2px;
}
.mainaboutus{
  background-color: rgb(242, 234, 234);

}
.boton{
  margin: 10px;
  padding: 10px;
}
.customform p{
  margin: 10px;
  padding: 10px;
}
.customform form{
  margin: 20px;
  padding: 10px;
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-link {
    width: 100%;
  }
  .navbar-brand {
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footerlinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerlinks a {
    margin: 10px 0;
    padding: 10px;
  }

  footer {
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
  }

  footer form button {
    margin-top: 10px;
    width: 100%;
  }

  .fotosinicio img {
    width: 30%;
  }
  .mainiframe {
    width: 70%;
    height: 25%;
  }
  .mainshapes {
    grid-template-columns: 1fr;
  }

  .fotoshapes {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .fotostienda {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }
  .fotostienda img {
    width: 200px;
    height: auto;
    border: 2px black solid;
  }
}
@media (max-width: 480px) {
  .footerlinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerlinks a {
    margin: 15px 0;
    padding: 12px;
    font-size: 14px;
  }

  footer {
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
  }

  footer form button {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
  }
  .fotosinicio {
    margin: 10px;
    padding: 10px;
    gap: 40px;
  }
  .fotosinicio img {
    width: 25%;
  }
  .mainiframe {
    width: 70%;
  }
  .fotoshapes img {
    width: 20%;
    height: auto;
  }
  .fotostienda {
   
    gap: 20px;
  }
  .fotostienda img {
    width: 180px;
    height: auto;
    border: 2px black solid;
  }
}
