.maincontacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
   .message{
      text-align: start;
      font-weight: bold;
    }
    .whatsapp{
      text-align: center;
      margin: 10px;
      padding: 20px;
      p{
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .contacto {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
  .tablacontacto {
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 20px;
  }
  .formcontacto {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 20px;
    input {
        margin: 5px;
        padding: 5px;
        background-color: #dfd5d5;
        color: black;
        width: 30%;
      }
  .stageinput{
    width: 50%;
  }
  .emailinput{
    width: 50%;
  }
  textarea{
    background-color:#dfd5d5 ;
    margin: 5px;
    padding: 5px;
    color: black;
  }
  }
 