.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr) 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: column;
  }
  .headercustom {
    grid-area: 1 / 1 / 2 / 5;
  }
  
  .footercustom {
    grid-area: 6 / 1 / 7 / 5;
  }
  
  .maincustom {
    grid-area: 3 / 3 / 6 / 5;
  }
  
  .sectioncustom {
    grid-area: 2 / 3 / 3 / 5;
  }
  
  .asidecustom {
    grid-area: 2 / 1 / 6 / 3;
  }
  .customform{
    background-color: black;
    color: rgb(220, 215, 215);
    p{
      text-decoration: underline;
      font-weight: bold;
      font-size: larger;
      font-style: italic;
      text-align: left;
    }
    h2{
      border: black solid 1.5px;
      width: 25%;
      text-align: center;
    }
    label{
      font-weight: bold;
    }
  }
  .boarddescription{
    p{
      text-decoration: none;
      font-weight: normal;
      font-size: normal;
      font-style: normal;
    }
  }