footer {
    padding: 1rem;
    border: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    a {
      color: white;
      text-align: right;
      text-decoration: none;
    }
    .footerlinks {
      text-align: center;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-style: italic;
      background-color: grey;
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      a {
        margin: 5px;
        padding: 5px;
        &:hover {
          background-color: white;
          color: black;
          margin: 5px;
          padding: 5px;
          border: double white;
          border-radius: 5px;
        }
      }
    }
    form button {
      padding: 2px;
      margin: 2px;
      text-decoration: none;
      color: white;
      background-color: grey;
      a {
        color: white;
        text-decoration: none;
        &:hover{
          color: black;
          text-decoration: none;
        }
      }
    }
  }