.tosparagraph {
    background-color: rgb(242, 234, 234);
    border: black solid 3px;
    margin: 10px;
    padding: 10px;
  }
  .pparagraph {
    background-color: rgb(242, 234, 234);
    border: black solid 3px;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 80vw;
  }
  .auparagraph{
    background-color: rgb(242, 234, 234);
    border: black solid 3px;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 80vw;
  
  }
  .mainaboutus{
    background-color: rgb(242, 234, 234);
  
  }
  .fotoaboutus{ 
    img{
    height: auto;
    width: 70vw;
    align-content: center;
    border: black solid 2px;
    }
  }
  .boton{
    margin: 10px;
    padding: 10px;
  }
  .customform{
    p{
        margin: 10px;
        padding: 10px;
      }
      form{
        margin: 20px;
        padding: 10px;
      }
  }