// Variables
$primary-color: black;
$hover-background-color: gray;
$margin-padding: 20px;

.fotostienda {
    margin: $margin-padding;
    padding: $margin-padding;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    gap: 60px;

    a {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        transition: all 0.2s;

        &:hover {
            background-color: $primary-color;
            border: $primary-color double 2px;
            border-radius: 30px;
        }
    }

    img {
        width: 300px;
        border: 2px $primary-color solid;
        transition: all 0.2s;

        &:hover {
            border-radius: 30px;
            border: $primary-color double;
        }
    }
}

.linkstienda {
    margin: $margin-padding;
    padding: $margin-padding;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    gap: 20px;

    a {
        padding: 5px;
        font-weight: bold;
        color: $primary-color;
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border: $primary-color solid 1px;

        &:hover {
            background-color: $primary-color;
            color: $hover-background-color;
            border: $primary-color double 2px;
            border-radius: 10px;
        }
    }
}
